[Unit]
Description=Quickshell desktop shell
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/qs -c desktop
ExecReload=kill -SIGUSR1 $MAINPID
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
